@{
    ViewData["Title"] = "Home Page";
}
<head>
	<link rel="stylesheet" href="/css/home.css" asp-append-version="true" />
</head>
<body>
    <datalist id="colors">
        <option value="#4169E1">Royal Blue</option>
        <option value="#DC143C">Crimson</option>
        <option value="#FF6347">Tomato</option>
        <option value="#FFE4B5">Mocassin</option>
        <option value="#228B22">Forest Green</option>
        <option value="#48D1CC">Medium Turqoise</option>
        <option value="#663399">Rebecca Purple</option>
        <option value="#FF1493">Deep Pink</option>
        <option value="#F5FFFA">Mint Cream</option>
        <option value="#201D24">Black</option>
    </datalist>

    <input list="colors" type="color" value="#4169E1">
    <img src="https://assets.codepen.io/18515/beetle.jpg" alt="Black and white image with a Volkswagen Beetle in color." />
</body>
